/* .App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  padding: 20px 0;
}
.form {
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.form-check {
  margin: 8px;
}
.search {
  background-color: cyan;
}

.hide {
  background-color: grey;
}

bg-blue {
  margin: 0 5px 0 5px;
} */
